<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">s
    <title>CATCH | Share your dreams </title>

    <!-- Default CSS -->
    <link href="css/default.css" rel="stylesheet">
    <!-- Fontaweseome CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/fontawesome/fontawesome.min.css"> -->
</head>