<nav class="navbar navbar-subnav navbar-static-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-ellipsis-v"></span>
            </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="subnav">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/home"><i class="fa fa-contao"></i> CATCH</a>
                </li>
                <li>
                    <a href="/profile"><i class="fa fa-fw icon-user-1"></i>Profile</a>
                </li>
                <li>
                    <a href="/messages"><i class="fa fa-fw icon-comment-fill-1"></i> Messages</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout">Logout </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>