{{= include partials/head.html}}
<body>

    <!-- Menu Top -->
    {{= include partials/menu-top.html}}
    <!-- /Menu Top -->


    <div class="container">
        <!-- Cover and Menu -->
        {{= include partials/coverMenu.html }}
        <!-- /Cover and Menu -->
        <div class="wrapper timeline" data-toggle="">
        <div class="row">
           <!-- Progress table -->
            <div class="table-responsive">
                <table class="table v-middle">
                    <thead>
                        <tr>
                            <th width="20">
                                <input type="checkbox" name="checkbox" id="checkAll" />
                            </th>
                            <th>Date Post</th>
                            <th>Dream</th>
                            <th>Duration</th>
                            <th>Progress</th>
                            <th class="text-right">Action</th>
                        </tr>.
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td> 
                                <span class="label label-gray">19/09/2014</span>
                            </td>
                            <td>
                                I want to be an entrepreneur in 5 months, how can i get my dream?
                            <td>
                            DD/MM/YYYY
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">
                                <a href="#" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" />
                            </td>
                            <td> <span class="label label-primary">19/09/2014</span>
                            </td>
                            <td>
                                I want to be an entrepreneur in 5 months, how can i get my dream?
                            <td>
                                DD/MM/YYYY
                            </td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="43" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                            </td>
                            <td class="text-right">
                                <a href="#" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="#" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        </div>
    </div>

    <!-- Footer -->
    {{include partials/footer.html }}
    <!-- // Footer -->
    
    <!-- Vendor Scripts Bundle -->
    <script src="js/vendor.min.js"></script>
    <!-- App Scripts Bundle -->
    <script src="js/scripts.min.js"></script>
</body>
</html>