{{= include partials/head.html}}
<body>

    <!-- Menu Top -->
    {{= include partials/menu-top.html}}
    <!-- /Menu Top -->


    <div class="container">
        <!-- Cover and Menu -->
        {{= include partials/coverMenu.html }}
        <!-- /Cover and Menu -->
        <div class="wrapper timeline" data-toggle="">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-gray">Edit Profile</div>
                    <div class="panel-body">
                        <form class="form-horizontal" role="form" method="post" action="/edit-profile">
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Username</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" name="username" disabled id="inputEmail3" placeholder="" value="{{=user.username}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" id="inputEmail3" name="email" disabled placeholder="{{= user.email}}" value="{{= user.email}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" name="password" id="inputEmail3" placeholder="" value = "{{= user.password}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="inputEmail3" class="col-sm-3 control-label">Full Name</label>
                                <div class="col-sm-9">
                                    <input type="text" name="fullname" class="form-control" id="inputEmail3" value="{{= user.fullname}}" placeholder="Type here..">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Bio</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" name="bio" rows="5" placeholder="{{= user.bio}}" value="{{= user.bio}}"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Date of Birth</label>
                                <div class="col-sm-9">
                                    <input type="text" type="text" name="dob" placeholder="{{= user.dob}}"class="form-control datepicker" value="{{= user.dob}}">
                                </div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Topic</label>
                                <div class="col-sm-9">
                                    <select class="selectpicker" multiple data-style="btn-white" title='Choose one of the following...' name="topic" value="{{= user.topic }}">
                                        <option name="friendship">Friendship</option>
                                        <option name="life">Life</option>
                                        <option name="health">Health</option>
                                        <option name="career">Career</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <input type="hidden" value="{{= user._id}}" name="userID">
                                    <button type="reset" class="btn btn-warning">Reset</button>
                                    <button type="submit" class="btn btn-primary">Update your Profile</button>
                                </div>
                            </div>
                            <!-- <div class="form-group">
                                <label class="col-sm-3 control-label">Add-On</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                        <input type="text" class="form-control" placeholder="Username">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Select</label>
                                <div class="col-sm-9">
                                    <select name="select" class="selectpicker" data-style="btn-white" data-live-search="true" data-size="5">
                                        <option>Mustard</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                        <option>Garlic</option>
                                        <option>Tomatoes</option>
                                        <option>Onion</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Multiple</label>
                                <div class="col-sm-9">
                                    <select class="selectpicker" multiple data-style="btn-white" title='Choose one of the following...'>
                                        <option>Mustard</option>
                                        <option>Ketchup</option>
                                        <option>Relish</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Input Button</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="text" class="form-control">
                                        <span class="input-group-btn">
                                        <button class="btn btn-inverse" type="button">Go!</button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Datepicker</label>
                                <div class="col-sm-9">
                                    <input type="text" type="text" class="form-control datepicker">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Disabled</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Disabled input" disabled>
                                </div>
                            </div> -->
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </div>

    <!-- Footer -->
    {{include partials/footer.html }}
    <!-- // Footer -->
    
    <!-- Vendor Scripts Bundle -->
    <script src="js/vendor.min.js"></script>
    <!-- App Scripts Bundle -->
    <script src="js/scripts.min.js"></script>
</body>
</html>