{{= include partials/head.html}}
<body>

    <!-- Menu Top -->
    {{= include partials/menu-top.html}}
    <!-- /Menu Top -->


    <div class="container">
        <!-- Cover and Menu -->
        {{= include partials/coverMenu.html }}
        <!-- /Cover and Menu -->
        <div class="wrapper timeline" data-toggle="">
            <div class="timeline-block">
                <div class="panel panel-default share">
                    <div class="panel-heading panel-heading-gray title">
                        What&acute;s your dream?
                    </div>
                    <form method="post" action="/postdream">
                        <div class="panel-body">
                            <textarea name="dreamContent" class="form-control share-text" rows="4" placeholder="Share your dream..."></textarea>
                        </div>
                        <div class="panel-footer share-buttons">
                            <!-- <a href="#">
                                <i class="fa fa-map-marker"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-photo"></i>
                            </a>
                            <a href="#">
                                <i class="fa fa-video-camera"></i>
                            </a> -->
                            <select class="selectpicker" multiple data-style="btn-white" title='Choose your topic' name="dreamTopic">
                                <option name="friendship">Friendship</option>
                                <option name="life">Life</option>
                                <option name="health">Health</option>
                                <option name="career">Career</option>
                            </select>
                            <button type="submit" class="btn btn-primary btn-xs pull-right display-none" href="#">Post</button>
                        </div>
                    </form>
                </div>
            </div>
            {{ include partials/timeline-index.html}}
        </div>
    </div>

    <!-- Footer -->
    {{include partials/footer.html }}
    <!-- // Footer -->
    
    <!-- Vendor Scripts Bundle -->
    <script src="js/vendor.min.js"></script>
    <!-- App Scripts Bundle -->
    <script src="js/scripts.min.js"></script>
</body>
</html>