{{= include partials/head.html}}
<body>

    <!-- Menu Top -->
    {{= include partials/menu-top.html}}
    <!-- /Menu Top -->


    <div class="container">
        <!-- Cover and Menu -->
        {{= include partials/coverMenu.html }}
        <!-- /Cover and Menu -->
        <div class="wrapper timeline" data-toggle="">
        <div class="row">
            <div class="col-md-6">
                <!-- About  -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-gray">
                            <a href="/edit-profile-{{= user._id }}" class="btn btn-white btn-xs pull-right"><i class="fa fa-pencil"></i></a>
                        <i class="fa fa-info-circle"></i> About
                    </div>
                    <div class="panel-body">
                        <ul class="list-unstyled profile-about">
                            <li>
                                <div class="row">
                                    <div class="col-sm-4"><span class="text-muted">Full Name</span>
                                    </div>
                                    <div class="col-sm-8">{{= user.fullname}}</div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-sm-4"><span class="text-muted">Date of Birth</span>
                                    </div>
                                    <div class="col-sm-8">{{= user.dob}}</div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-sm-4"><span class="text-muted">Bio</span>
                                    </div>
                                    <div class="col-sm-8">{{= user.bio}}</div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-sm-4"><span class="text-muted">Topic</span>
                                    </div>
                                    <div class="col-sm-8">{{= user.topic}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <!--Friends -->
                <div class="panel panel-default">
                    <div class="panel-heading panel-heading-gray">
                        <a href="#" class="btn btn-primary btn-xs pull-right">Add <i class="fa fa-plus"></i></a>
                        <i class="icon-user-1"></i> Friends
                    </div>
                    <ul class="list-unstyled friends-list">
                        <li>
                            <a href="#">
                                <img src="images/people/110/guy-6.jpg" alt="image" class="img-responsive" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/people/110/woman-3.jpg" alt="image" class="img-responsive" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/people/110/guy-2.jpg" alt="image" class="img-responsive" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/people/110/guy-9.jpg" alt="image" class="img-responsive" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/people/110/woman-9.jpg" alt="image" class="img-responsive" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/people/110/guy-4.jpg" alt="image" class="img-responsive" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/people/110/guy-1.jpg" alt="image" class="img-responsive" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/people/110/woman-4.jpg" alt="image" class="img-responsive" />
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="images/people/110/guy-6.jpg" alt="image" class="img-responsive" />
                            </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        </div>
    </div>

    <!-- Footer -->
    {{include partials/footer.html }}
    <!-- // Footer -->
    
    <!-- Vendor Scripts Bundle -->
    <script src="js/vendor.min.js"></script>
    <!-- App Scripts Bundle -->
    <script src="js/scripts.min.js"></script>
</body>
</html>