{{= include partials/head.html}}
<body>

    <!-- Menu Top -->
    {{= include partials/menu-top.html}}
    <!-- /Menu Top -->


    <div class="container">
        <!-- Cover and Menu -->
        {{= include partials/coverMenu.html }}
        <!-- /Cover and Menu -->
        <div class="wrapper timeline" data-toggle="">
                <div class="row">
            <div class="col-md-9">
                <ul class="timeline-list">
                    <li class="media">
                        <div class="pull-left">
                            <img src="images/people/110/guy-5.jpg" alt="people" class="img-circle" width="80" />
                            <div class="date">19 OCT</div>
                        </div>
                        <div class="media-body">
                            <div class="row">
                                <div class="col-md-10 col-lg-8">
                                    <div class="panel panel-default share">
                                        <div class="panel-heading panel-heading-gray title">
                                            What&acute;s new
                                        </div>
                                        <div class="panel-body">
                                            <textarea name="status" class="form-control share-text" rows="3" placeholder="Share your status..."></textarea>
                                        </div>
                                        <div class="panel-footer share-buttons">
                                            <a href="#">
                                                <i class="fa fa-map-marker"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-photo"></i>
                                            </a>
                                            <a href="#">
                                                <i class="fa fa-video-camera"></i>
                                            </a>
                                            <button type="submit" class="btn btn-primary btn-xs pull-right display-none" href="#">Post</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    <li class="media" id="october">
                        <div class="pull-left">
                            <img src="images/people/110/woman-5.jpg" alt="people" class="img-circle" width="80" />
                            <div class="date">19 OCT</div>
                        </div>
                        <div class="media-body">
                            <div class="row">
                                <div class="col-md-10 col-lg-8">
                                    <div class="panel panel-default relative">
                                        <img src="images/place2-full.jpg" alt="place" class="img-responsive">
                                        <div class="panel-body panel-boxed text-center">
                                            <div class="rating">
                                                <span class="star"></span>
                                                <span class="star filled"></span>
                                                <span class="star filled"></span>
                                                <span class="star filled"></span>
                                                <span class="star filled"></span>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <img src="images/people/50/guy-2.jpg" alt="people" class="img-circle" />
                                            <img src="images/people/50/woman-2.jpg" alt="people" class="img-circle" />
                                            <img src="images/people/50/guy-3.jpg" alt="people" class="img-circle" />
                                            <img src="images/people/50/woman-3.jpg" alt="people" class="img-circle" />
                                            <a href="#" class="user-count-circle">12+</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="media">
                        <div class="pull-left">
                            <img src="images/people/110/woman-9.jpg" alt="people" class="img-circle" width="80" />
                            <div class="date">11 OCT</div>
                        </div>
                        <div class="media-body">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p>Late Night Show Photos</p>
                                    <div class="timeline-added-images">
                                        <img src="images/social/100/1.jpg" width="80">
                                        <img src="images/social/100/2.jpg" width="80">
                                        <img src="images/social/100/3.jpg" width="80">
                                    </div>
                                </div>
                                <div class="view-all-comments"><a href="#"><i class="fa fa-comments-o"></i> View all</a> 10 comments</div>
                                <ul class="comments">
                                    <li>
                                        <div class="media">
                                            <a href="" class="pull-left">
                                                <img src="images/people/50/guy-5.jpg" class="media-object">
                                            </a>
                                            <div class="media-body">
                                                <a href="" class="comment-author">Bill D.</a>
                                                <span>Hi Mary, Nice Party</span>
                                                <div class="comment-date">21st September</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <a href="" class="pull-left">
                                                <img src="images/people/50/woman-5.jpg" class="media-object">
                                            </a>
                                            <div class="media-body">
                                                <a href="" class="comment-author">Mary</a>
                                                <span>Thanks Bill</span>
                                                <div class="comment-date">2 days</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="media">
                                            <a href="" class="pull-left">
                                                <img src="images/people/50/guy-5.jpg" class="media-object">
                                            </a>
                                            <div class="media-body">
                                                <a href="" class="comment-author">Bill D.</a>
                                                <span>What time did it finish?</span>
                                                <div class="comment-date">14 min</div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="comment-form">
                                        <div class="input-group">
                                            <input type="text" class="form-control" />
                                            <span class="input-group-addon">
                   <a href=""><i class="fa fa-photo"></i></a>
                </span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="media">
                        <div class="pull-left">
                            <img src="images/people/110/guy-5.jpg" alt="people" class="img-circle" width="80" />
                            <div class="date">3 OCT</div>
                        </div>
                        <div class="media-body">
                            <div class="row">
                                <div class="col-md-10 col-lg-8">
                                    <div class="panel panel-default">
                                        <img src="images/place1-full.jpg" class="img-responsive">
                                        <ul class="comments">
                                            <li>
                                                <div class="media">
                                                    <a href="" class="pull-left">
                                                        <img src="images/people/50/woman-5.jpg" class="media-object">
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="" class="comment-author">Mary</a>
                                                        <span>Wow</span>
                                                        <div class="comment-date">2 days</div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="comment-form">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" />
                                                    <span class="input-group-addon">
                   <a href=""><i class="fa fa-photo"></i></a>
                </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="media">
                        <div class="pull-left">
                            <img src="images/people/110/guy-3.jpg" alt="people" class="img-circle" width="80" />
                            <div class="date">1 OCT</div>
                        </div>
                        <div class="media-body">
                            <div class="row">
                                <div class="col-md-10 col-lg-8">
                                    <div class="panel panel-default">
                                        <div class="panel-body text-muted">
                                            <i class="fa fa-map-marker"></i> Was in <a href="#">Brooklyn, New York</a>
                                        </div>
                                        <img src="http://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=370x300&scale=2&maptype=roadmap
        &markers=color:blue%7Clabel:S%7C40.702147,-74.015794&markers=color:green%7Clabel:G%7C40.711614,-74.012318
        &markers=color:red%7Clabel:C%7C40.718217,-73.998284" class="img-responsive">
                                        <div class="view-all-comments"><i class="fa fa-comments-o"></i> Be the first to comment</div>
                                        <ul class="comments">
                                            <li class="comment-form">
                                                <div class="input-group">
                                                    <input type="text" class="form-control" />
                                                    <span class="input-group-addon">
                   <a href=""><i class="fa fa-photo"></i></a>
                </span>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div data-spy="affix" data-offset-top="318" data-offset-bottom="100">
                    <div id="scroll-spy">
                        <ul class="nav timeline-months">
                            <li class="active"><a href="#october"><i class="fa fa-calendar fa-fw"></i>October</a>
                            </li>
                            <li><a href="#september"><i class="fa fa-calendar fa-fw"></i>September</a>
                            </li>
                            <li><a href="#august"><i class="fa fa-calendar fa-fw"></i>August</a>
                            </li>
                            <li><a href="#july"><i class="fa fa-calendar fa-fw"></i>July</a>
                            </li>
                            <li><a href="#june"><i class="fa fa-calendar fa-fw"></i>June</a>
                            </li>
                            <li><a href="#may"><i class="fa fa-calendar fa-fw"></i>May</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>

    <!-- Footer -->
    {{include partials/footer.html }}
    <!-- // Footer -->
    
    <!-- Vendor Scripts Bundle -->
    <script src="js/vendor.min.js"></script>
    <!-- App Scripts Bundle -->
    <script src="js/scripts.min.js"></script>
</body>
</html>